@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@100;200;300;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --blue-01: #0063e5;
  --blue-02: #032c77;
  --blue-03: #08132f;
  --blue-04: #040714;
  --blue-05: #090b13;

  --black-01: #1e1e24;
  --black-02: #rgb(4, 5, 5);
  --eerie-black: #191919;

  --cinnabar: #e94f37;
  --carrot-orange: #f49d37;
  --icterine: #fffd82;
  --red-destaque: #ff0157;
  --white: #fff;

}

/* Estilo do cabeçalho */
header {
  position: fixed; /* Fixa o cabeçalho no topo */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura da página */
  padding: 20px 100px; /* Define o padding do cabeçalho */
  z-index: 10000; /* Garante que o cabeçalho fique acima de outros elementos */
  display: flex; /* Utiliza flexbox para layout */
  justify-content: space-between; /* Espaça os itens igualmente */
  align-items: center; /* Alinha os itens ao centro verticalmente */
  transition: 0.5s; /* Adiciona transição suave para mudanças */
}

/* Estilo para o cabeçalho quando a página é rolada */
header.sticky {
  background: #fff; /* Define o fundo branco */
  padding: 10px 100px; /* Reduz o padding */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05); /* Adiciona sombra ao cabeçalho */
}

/* Estiliza o logo no cabeçalho */
header .logo {
  color: #fff; /* Define a cor do logo */
  font-weight: 700; /* Define o peso da fonte */
  font-size: 2em; /* Define o tamanho da fonte */
  text-decoration: none; /* Remove sublinhado */
}

/* Muda a cor do logo quando o cabeçalho é rolado */
header.sticky .logo {
  color: #111; /* Define a cor do logo ao rolar */
}

header .logo span {
  color: var(--red-destaque); /* Define a cor do destaque no logo */
}

/* Estiliza a navegação no cabeçalho */
header .navegacao {
  position: relative; /* Define a posição relativa */
  display: flex; /* Utiliza flexbox para layout */
}

/* Estiliza os itens da navegação */
header .navegacao li {
  list-style: none; /* Remove os marcadores da lista */
  margin-left: 30px; /* Adiciona margem à esquerda */
}

/* Estiliza os links na navegação */
header .navegacao li a {
  text-decoration: none; /* Remove sublinhado */
  color: #fff; /* Define a cor dos links */
  font-weight: 300; /* Define o peso da fonte */
}

/* Estilo para o hover nos links da navegação */
header .navegacao li a:hover {
  color: #fff; /* Mantém a cor dos links */
  background: var(--red-destaque); /* Define o fundo no hover */
  display: inline-block; /* Define o link como inline-block */
  padding: 4px 8px; /* Adiciona padding ao link */
  text-decoration: none; /* Remove sublinhado */
  letter-spacing: 1px; /* Aumenta o espaçamento entre letras */
  transition: 0.5s; /* Adiciona transição suave */
}

/* Muda a cor dos links quando o cabeçalho é rolado */
header.sticky .navegacao li a {
    color: #111;
  }
  
/* Estilo para o hover nos links quando o cabeçalho é rolado */
header.sticky .navegacao li a:hover {
  color: #fff;
}

/* Estilo para os parágrafos */
p {
  font-weight: 300; /* Define o peso da fonte */
}

/* Estilo para a seção de banner */
.banner {
  position: relative; /* Define a posição relativa */
  width: 100%; /* Ocupa toda a largura da página */
  min-height: 100vh; /* Define a altura mínima como 100vh */
  display: flex; /* Utiliza flexbox para layout */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-image: url(../img/banner-home.jpg); /* Define a imagem de fundo */
  background-size: cover; /* Define a imagem como capa */
  flex-direction: column; /* Alinha os itens em coluna */
}

/* Estilo para o conteúdo do banner */
.banner .conteudo {
  max-width: 900px; /* Define a largura máxima */
  text-align: center; /* Centraliza o texto */
}

/* Estilo para o título no banner */
.banner .conteudo h1 {
  font-size: 3.5em; /* Define o tamanho da fonte */
  color: #fff; /* Define a cor do texto */
}

/* Estilo para o parágrafo no banner */
.banner .conteudo p {
  font-size: 1em; /* Define o tamanho da fonte */
  color: #fff; /* Define a cor do texto */
  background-color: #cccccc28; /* Define a cor de fundo com transparência */
}


/* Estilo para os botões */
.btn {
  font-size: 1em; /* Define o tamanho da fonte */
  color: #fff; /* Define a cor do texto */
  background: var(--blue-01); /* Define a cor de fundo */
  display: inline-block; /* Define como inline-block */
  padding: 16px 80px; /* Define o padding */
  margin-top: 20px; /* Adiciona margem superior */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  text-decoration: none; /* Remove sublinhado */
  letter-spacing: 2px; /* Aumenta o espaçamento entre letras */
  transition: 0.5s; /* Adiciona transição suave */
}


/* Estilo para o hover nos botões */
.btn:hover {
  letter-spacing: 6px; /* Aumenta o espaçamento entre letras no hover */
}

/* Estilo para as seções */
section {
  padding: 100px; /* Define o padding */
  background: #fcf7f7b4; /* Define a cor de fundo com transparência */
}

/* Estilo para as linhas */
.linha {
  position: relative; /* Define a posição relativa */
  width: 100%; /* Ocupa toda a largura da página */
  display: flex; /* Utiliza flexbox para layout */
  justify-content: space-between; /* Espaça os itens igualmente */
}

/* Estilo para as colunas */
.linha .coluna50 {
  position: relative; /* Define a posição relativa */
  width: 48%; /* Define a largura da coluna */
}

/* Estilo para os parágrafos na seção sobre */
.about .linha .coluna50 p{
  margin-top: 5px; /* Adiciona margem superior */
  text-align: justify; /* Justifica o texto */
}

/* Estilo para os títulos */
.titletext {
  color: #111; /* Define a cor do texto */
  font-size: 2em; /* Define o tamanho da fonte */
  font-weight: 300; /* Define o peso da fonte */
}

/* Estilo para os spans nos títulos */
.titulo-texto span {
  color: var(--vermelho-destaque); /* Define a cor do texto */
  font-weight: 700; /* Define o peso da fonte */
  font-size: 1.5em; /* Define o tamanho da fonte */
}

/* Estilo para as caixas de imagem */
.linha .coluna50 .img-bx {
  position: relative; /* Define a posição relativa */
  width: 100%; /* Ocupa toda a largura */
  min-height: 300px; /* Define a altura mínima */
}


/* Estilo para as imagens */
.linha .coluna50 .img-bx img {
  position: relative; /* Define a posição relativa */
  top: 0; /* Define a posição superior */
  left: 10%; /* Define a posição à esquerda */
  width: 80%; /* Define a largura */
  height: 80%; /* Define a altura */
  object-fit: cover; /* Define a imagem como capa */
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Estilo para a seção de redes sociais no banner */
.banner .redes-sociais {
  display: flex; /* Utiliza flexbox para layout */
  margin-top: 80px; /* Adiciona margem superior */
  width: 50vw; /* Define a largura */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 48px; /* Adiciona espaçamento entre os itens */
}

/* Estilo para os itens da lista de redes sociais */
.banner .redes-sociais li {
  display: flex; /* Utiliza flexbox para layout */
  flex-direction: column; /* Alinha os itens em coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
}
/* Estilo para o hover nos itens da lista de redes sociais */
.banner .redes-sociais li:hover {
  transform: rotate(8deg); /* Rotaciona o item no hover */
}

/* Estilo para os links nas redes sociais */
.banner .redes-sociais li a {
  text-decoration: none; /* Remove sublinhado */
  color: #fff; /* Define a cor do texto */
  font-weight: 700; /* Define o peso da fonte */
}

/* Estilo para as imagens nos links das redes sociais */
.banner .redes-sociais li a > img {
  width: 100%; /* Define a largura */
  height: 48px; /* Define a altura */
}

/* SCROLL DE ROLAGEM DAS TECNOLOGIAS */


/* Define uma animação chamada 'slide' que move os elementos de sua 
posição inicial (translateX(0)) para -100% ao longo do tempo */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Define a div com a classe 'logos':
    - overflow: hidden esconde qualquer conteúdo que ultrapasse as bordas do elemento
    - padding: 60px em cima e embaixo, 0 nas laterais
    - white-space: nowrap impede a quebra de linha dentro do elemento
    - background: white define a cor de fundo como branco
    - position: relative para permitir a posição absoluta de elementos filhos */
.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}


/* Define pseudo-elementos antes e depois da div 'logos':
    - position: absolute para posicioná-los relativamente ao elemento pai
    - top: 0 posiciona-os no topo do elemento pai
    - width: 250px define a largura dos pseudo-elementos
    - height: 100% define a altura como igual à altura do elemento pai
    - content: "" cria os pseudo-elementos
    - z-index: 2 coloca-os acima do conteúdo da div 'logos' */
.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}


/* Define o pseudo-elemento ::before à esquerda:
    - left: 0 posiciona-o na extremidade esquerda do elemento pai
    - background: linear-gradient(to left,rgba(255,255,255,0), white) cria um gradiente
     que vai de transparente a branco da esquerda para a direita */
.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}


/* Define o pseudo-elemento ::after à direita:
    - right: 0 posiciona-o na extremidade direita do elemento pai
    - background: linear-gradient(to right,rgba(255,255,255,0), white) cria um gradiente
     que vai de transparente a branco da direita para a esquerda */
.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* Pausa a animação da classe 'logos-slide' quando a div 'logos' é hoverada */
.logos:hover .logos-slide {
  animation-play-state: paused;
}

/* Define a div com a classe 'logos-slide':
    - display: inline-block para permitir margens horizontais sem quebras de linha
    - animation: 15s slide infinite linear aplica a animação 'slide' por 15 segundos
    em um loop infinito e com um movimento linear */
.logos-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
}

/* Define as imagens dentro da classe 'logos-slide':
    - height: 50px define a altura das imagens
    - margin: 0 40px aplica margens horizontais de 40px e margens verticais de 0 */
.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* FIM DO SCROLL DE ROLAGEM DAS TECNOLOGIAS */



