@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@100;200;300;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --blue-01: #0063e5;
  --blue-02: #032c77;
  --blue-03: #08132f;
  --blue-04: #040714;
  --blue-05: #090b13;

  --black-01: #1e1e24;
  --black-02: #rgb(4, 5, 5);
  --eerie-black: #191919;

  --cinnabar: #e94f37;
  --carrot-orange: #f49d37;
  --icterine: #fffd82;
  --red-destaque: #ff0157;
  --white: #fff;

}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

/* Estilo para o cabeçalho quando a página é rolada */
header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  }
  
  /* Estiliza o logo no cabeçalho */
  header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
  }
  
  /* Muda a cor do logo quando o cabeçalho é rolado */
  header.sticky .logo {
    color: #111;
  }

header .logo span {
  color: var(--red-destaque);
}

/* Estiliza a navegação no cabeçalho */
header .navigation {
    position: relative;
    display: flex;
  }
  
  /* Estiliza os itens da navegação */
  header .navigation li {
    list-style: none;
    margin-left: 30px;
  }
  
  /* Estiliza os links na navegação */
  header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
  }

header .navigation li a:hover {
  color: #fff;
  background: var(--red-destaque);
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.5s;
}

/* Muda a cor dos links quando o cabeçalho é rolado */
header.sticky .navigation li a {
    color: #111;
  }
  
/* Estilo para o hover nos links quando o cabeçalho é rolado */
header.sticky .navigation li a:hover {
  color: #fff;
}

p {
  font-weight: 300;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/banner-home.jpg);
  /*Usa a imagem como papel de parede do fundo*/
  background-size: cover;
  flex-direction: column;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 3.5em;
  color: #fff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
  background-color: #cccccc28;
}

.btn {
  font-size: 1em;
  color: #fff;
  background: var(--blue-01);
  display: inline-block;
  padding: 16px 80px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

section {
  padding: 100px;
  background: #fcf7f7b4;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.about .row .col50 p{
    margin-top: 5px;
    text-align: justify;
}

.titletext {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titletext span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 300px;
  /* height: 80%; */
}

.row .col50 .imgBx img {
  position: relative;
  top: 0;
  left: 10%;
  width: 80%;
  height: 80%;
  object-fit: cover;

}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.banner .social__media{
  display: flex;
  margin-top: 80px;
  width: 50vw;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.banner .social__media li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner .social__media li:hover{
  transform: rotate(8deg);
}

.banner .social__media li a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.banner .social__media li a > img{
  width: 100%;
  height: 48px;

}

/* SCROLL DE ROLAGEM DAS TECNOLOGIAS */


/* Define uma animação chamada 'slide' que move os elementos de sua 
posição inicial (translateX(0)) para -100% ao longo do tempo */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Define a div com a classe 'logos':
    - overflow: hidden esconde qualquer conteúdo que ultrapasse as bordas do elemento
    - padding: 60px em cima e embaixo, 0 nas laterais
    - white-space: nowrap impede a quebra de linha dentro do elemento
    - background: white define a cor de fundo como branco
    - position: relative para permitir a posição absoluta de elementos filhos */
.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}


/* Define pseudo-elementos antes e depois da div 'logos':
    - position: absolute para posicioná-los relativamente ao elemento pai
    - top: 0 posiciona-os no topo do elemento pai
    - width: 250px define a largura dos pseudo-elementos
    - height: 100% define a altura como igual à altura do elemento pai
    - content: "" cria os pseudo-elementos
    - z-index: 2 coloca-os acima do conteúdo da div 'logos' */
.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}


/* Define o pseudo-elemento ::before à esquerda:
    - left: 0 posiciona-o na extremidade esquerda do elemento pai
    - background: linear-gradient(to left,rgba(255,255,255,0), white) cria um gradiente
     que vai de transparente a branco da esquerda para a direita */
.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}


/* Define o pseudo-elemento ::after à direita:
    - right: 0 posiciona-o na extremidade direita do elemento pai
    - background: linear-gradient(to right,rgba(255,255,255,0), white) cria um gradiente
     que vai de transparente a branco da direita para a esquerda */
.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* Pausa a animação da classe 'logos-slide' quando a div 'logos' é hoverada */
.logos:hover .logos-slide {
  animation-play-state: paused;
}

/* Define a div com a classe 'logos-slide':
    - display: inline-block para permitir margens horizontais sem quebras de linha
    - animation: 15s slide infinite linear aplica a animação 'slide' por 15 segundos
    em um loop infinito e com um movimento linear */
.logos-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
}

/* Define as imagens dentro da classe 'logos-slide':
    - height: 50px define a altura das imagens
    - margin: 0 40px aplica margens horizontais de 40px e margens verticais de 0 */
.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* FIM DO SCROLL DE ROLAGEM DAS TECNOLOGIAS */



